### Importing Libraries

In [1]:
import pandas as pd

### Data Process

In [2]:
dataFrame = pd.read_csv('Task2.csv')
dataFrame.head()

  weekday        city  visitors  signups
0     Sun       Dhaka       139        6
1     Mon    Dinajpur       237       12
2    Tues      Sylhet       326        3
3     Wed      Khulna       456        5
4   Thurs  Chittagong       759        4

In [3]:
#Printing Only 2nd-4th row
dataFrame.iloc[[1,2,3]]

  weekday      city  visitors  signups
1     Mon  Dinajpur       237       12
2    Tues    Sylhet       326        3
3     Wed    Khulna       456        5

In [4]:
#Printing Only 3rd-4th column
dataFrame.iloc[0:5,2:4]

   visitors  signups
0       139        6
1       237       12
2       326        3
3       456        5
4       759        4

In [5]:
#Maximum Visitor information)
dataFrame[dataFrame.values == dataFrame['visitors'].max()]

  weekday        city  visitors  signups
4   Thurs  Chittagong       759        4

In [6]:

#Mean of signups and print the row
dataFrame[dataFrame.values == dataFrame['signups'].mean()]

  weekday   city  visitors  signups
0     Sun  Dhaka       139        6